.card {
  margin: 0 auto;
  width: 70%;
  border: 2px solid black;
  background-color: aquamarine;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* div {
    background-color: aqua;
    padding: 10px;
} */
